<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="top.maniy.mapper.MassageMapper">

	<select id="findMassageCount" resultType="Integer">
		SELECT COUNT(*) count FROM massage
	</select>

	<select id="findAllMassage" resultType="Massage">
		SELECT id,title,userId,categoryId,photo,username,commentNumb,likeNumb,browseNumb,createTime FROM massage
	</select>

	<select id="findMassageByCategoryId" resultType="Massage">
		SELECT * FROM massage WHERE categoryId=#{type}
	</select>

	<select id="findMassageById" resultType="Massage">
		SELECT * FROM massage WHERE id=#{id}
	</select>

	<select id="findMassageRand" resultType="Massage">
		SELECT * FROM massage order by rand() limit #{num}
	</select>

    <select id="findMassageByUserId" resultType="Massage">
        SELECT * FROM massage WHERE userId=#{userId}
    </select>

	<select id="findMassageByCreateTimeDesc" resultType="Massage">
		SELECT * FROM massage  ORDER BY createTime DESC LIMIT #{start},#{end}
	</select>

	<select id="findMassageByBrowseNumbDesc" resultType="Massage">
		SELECT * FROM massage  ORDER BY browseNumb DESC LIMIT #{start},#{end}
	</select>

    <select id="findMassageByUserIdAndLikeTitle" resultType="Massage">
        SELECT * FROM massage WHERE userId=#{userId} AND title LIKE '%${title}%'
    </select>

	<select id="findMassageLikeLabel" resultType="Massage">
		select * from massage WHERE label LIKE '%${label}%'
	</select>

	<select id="findMassageLikeTitle" resultType="Massage">
		select * from massage WHERE title LIKE '%${title}%'
	</select>

	<insert id="saveMassage" parameterType="Massage">
		INSERT INTO massage
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="title != null" >
				title,
			</if>
			<if test="userId != null" >
				userId,
			</if>
			<if test="categoryId != null" >
				categoryId,
			</if>
            <if test="photo != null" >
                photo,
            </if>
			<if test="username != null" >
				username,
			</if>
			<if test="label != null" >
				label,
			</if>
			<if test="content != null" >
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="title != null" >
				#{title},
			</if>
			<if test="userId != null" >
				#{userId},
			</if>
			<if test="categoryId != null" >
				#{categoryId},
			</if>
            <if test="photo != null" >
                #{photo},
            </if>
			<if test="username != null" >
				#{username},
			</if>
			<if test="label != null" >
				#{label},
			</if>
			<if test="content != null" >
				#{content},
			</if>
		</trim>
	</insert>

	<delete id="deleteMassage" parameterType="Integer">
		DELETE FROM massage WHERE id =#{id}
	</delete>

	<update id="updateMassage" parameterType="Massage">
		UPDATE massage
		<set>
			<if test="title != null" >
				title=#{title},
			</if>
			<if test="userId != null" >
				userId=#{userId},
			</if>
			<if test="categoryId != null" >
				categoryId=#{categoryId},
			</if>
            <if test="cphoto != null" >
                photo=#{photo},
            </if>
			<if test="username != null" >
				username=#{username},
			</if>
			<if test="commentNumb != null" >
				commentNumb=#{commentNumb},
			</if>
			<if test="likeNumb != null" >
				likeNumb=#{likeNumb},
			</if>
			<if test="browseNumb != null" >
				browseNumb=#{browseNumb},
			</if>
			<if test="label != null" >
				label=#{label},
			</if>
			<if test="content != null" >
				content=#{content},
			</if>
		</set>
		WHERE id =#{id}
	</update>
</mapper>