<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="top.maniy.mapper.MassageMapper">



	<select id="findMassageByCategoryId" resultType="Massage">
		SELECT * FROM massage WHERE categoryId=#{type}
	</select>

	<select id="findMassageById" resultType="Massage">
		SELECT * FROM massage WHERE id=#{id}
	</select>

	<select id="findMassageLikeLabel" resultType="Massage">
		select * from massage WHERE '%${label}%'
	</select>

	<insert id="saveMassage" parameterType="Massage">
		INSERT INTO massage (title,userid,categoryId,username,browseNumb,label,content)
		VALUES (#{title},#{userid},#{categoryid},#{username},#{browsenumb},#{label},#{content})
	</insert>

	<delete id="deleteMassage" parameterType="Integer">
		DELETE FROM massage WHERE id =#{id}
	</delete>

	<update id="updateMassage" parameterType="Massage">

	</update>
</mapper>