<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="top.maniy.mapper.UserMapper">

	<select id="queryPermissionByUserName" resultType="String">
		SELECT permission FROM roles_permissions WHERE role_name=#{role_name}
	</select>

	<select id="queryRolesByUserName" resultType="String">
		SELECT role FROM user WHERE username=#{username}
	</select>

	<select id="findUserByTotalNumDesc" resultType="User">
		SELECT id,realname,gender,photo,autograph,introduce,massagenumb,questionnumb,answernumb,audionumb FROM user ORDER BY  massagenumb+questionnumb+answernumb+audionumb DESC LIMIT 0,#{num}
	</select>

	<select id="findUserByUsername" resultType="User">
		SELECT * FROM user WHERE username=#{username}
	</select>

	<select id="findUserByUsernameAndPassword" resultType="User">
		SELECT * FROM user WHERE username=#{username} AND password=#{password}
	</select>

	<select id="findAllUser" resultType="User">
		select * from user
	</select>

	<select id="findUserByRoleAndMassageNumbDesc" resultType="User">
		select id,realname,gender,photo,autograph,introduce,massagenumb,questionnumb,answernumb,audionumb from user WHERE role =#{role}  ORDER BY massagenumb DESC LIMIT #{start},#{end}
	</select>

	<select id="findUserByRoleAndByMassageNumbAndCreateTimeDesc" resultType="User">
		select id,realname,gender,photo,autograph,introduce,massagenumb,questionnumb,answernumb,audionumb from user WHERE role =#{role} AND massagenumb>=#{massagenumb} ORDER BY createtime DESC LIMIT #{start},#{end}
	</select>

	<select id="findUserByRole" resultType="User">
		select id,realname,gender,photo,autograph,introduce,massagenumb,questionnumb,answernumb,audionumb from user WHERE role =#{role}
	</select>

	<select id="countUserByGender" resultType="Integer">
		select count(*) count from user WHERE gender =#{gender}
	</select>

	<select id="countUserByRole" resultType="Integer">
		select count(*) count from user WHERE role =#{role}
	</select>

	<select id="findUserById" resultType="User">
		select id,username,email,realname,gender,photo,autograph,introduce,massagenumb,questionnumb,answernumb,audionumb,role from user WHERE id =#{id}
	</select>


	<insert id="saveUser" parameterType="User">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="email != null" >
				email,
			</if>
			<if test="password != null" >
				password,
			</if>
			<if test="username != null" >
				username,
			</if>
			<if test="realname != null" >
				realname,
			</if>
			<if test="gender != null" >
				gender,
			</if>
			<if test="photo != null" >
				photo,
			</if>
			<if test="autograph != null" >
				autograph,
			</if>
			<if test="introduce != null" >
				introduce,
			</if>
			<if test="massagenumb != null" >
				massagenumb,
			</if>
			<if test="questionnumb != null" >
				questionnumb,
			</if>
			<if test="answernumb != null" >
				answernumb,
			</if>
			<if test="audionumb != null" >
				audionumb,
			</if>
			<if test="role != null" >
				role,
			</if>
			<if test="forbidden != null" >
				forbidden,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="email != null" >
				#{email},
			</if>
			<if test="password != null" >
				#{password},
			</if>
			<if test="username != null" >
				#{username},
			</if>
			<if test="realname != null" >
				#{realname},
			</if>
			<if test="gender != null" >
				#{gender},
			</if>
			<if test="photo != null" >
				#{photo},
			</if>
			<if test="autograph != null" >
				#{autograph},
			</if>
			<if test="introduce != null" >
				#{introduce},
			</if>
			<if test="massagenumb != null" >
				#{massagenumb},
			</if>
			<if test="questionnumb != null" >
				#{questionnumb},
			</if>
			<if test="answernumb != null" >
				#{answernumb},
			</if>
			<if test="audionumb != null" >
				#{audionumb},
			</if>
			<if test="role != null" >
				#{role},
			</if>
			<if test="forbidden != null" >
				#{forbidden},
			</if>
		</trim>
	</insert>

	<delete id="deleteUser">
		DELETE FROM user WHERE id=#{id}
	</delete>

	<update id="updateUser" parameterType="User">
		UPDATE user
        <set>
			<if test="email != null" >
				email=#{email},
			</if>
			<if test="password != null" >
				password=#{password},
			</if>
			<if test="username != null" >
				username=#{username},
			</if>
			<if test="realname != null" >
				realname=#{realname},
			</if>
			<if test="gender != null" >
				gender=#{gender},
			</if>
			<if test="photo != null" >
				photo=#{photo},
			</if>
			<if test="autograph != null" >
				autograph=#{autograph},
			</if>
			<if test="introduce != null" >
				introduce=#{introduce},
			</if>
			<if test="massagenumb != null" >
				massagenumb=#{massagenumb},
			</if>
			<if test="questionnumb != null" >
				questionnumb=#{questionnumb},
			</if>
			<if test="answernumb != null" >
				answernumb=#{answernumb},
			</if>
			<if test="audionumb != null" >
				audionumb=#{answernumb},
			</if>
			<if test="role != null" >
				role=#{role},
			</if>
			<if test="forbidden != null" >
				forbidden=#{forbidden},
			</if>
		</set>
		WHERE id =#{id}
	</update>
</mapper>